<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      {% extends 'base.html' %} {% block content %} {% for message in messages%}
      {{ message }} {% endfor %}
      <form
        action='{% url "csvdb" %}'
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Default file input example</label
          >
          <input
            class="form-control"
            type="file"
            name="file"
            id="formFile"
            required
          />
        </div>
        <button type="submit" class="btn btn-success">Upload</button>
      </form>
      {% endblock content %}
    </section>
  </body>
</html>
